@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('bng.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.title,#time{
    color: #fff;
    font-size: 6rem;
}
#date{
    color: #fff;
    font-size: 2rem;
}